<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Map Event</title>
</head>
<body>
    <div id="loader">
        <div class="loader-spinner"></div>
    </div>

    <div id="modal"></div>

    <div class="btn-panel">
        <div id="add-btn" class="btn"> 📍</div>
        <div>
            <div id="filter-btn" class="btn">➕</div>
            <div class="filter-wrapper">
                <ul>
                    <li><label id="label-green"><input id="green" class="checkbox" type="checkbox" checked><span class="checkmark"></span><div></div></label></li>
                    <li><label id="label-orange"><input id="orange" class="checkbox" type="checkbox" checked><span class="checkmark"></span><div></div></label></li>
                    <li><label id="label-red"><input id="red" class="checkbox" type="checkbox" checked><div><span class="checkmark"></span></div></label></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="footer"></div>

    <div id="map"></div>
</body>
</html>