
@import url('~mapbox-gl/dist/mapbox-gl.css');
@import url('~@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css');

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: sans-serif;
  height: 100vh;
  position: relative;
  z-index: 1;

  ul {
      list-style: none;
  }

  #loader {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 20;
  }

  #map {
    flex-grow: 1;
    position: relative;
    z-index: 10;
  }

  .btn-panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 20;
    top: 10px;
    left: 20px;
  }

  .filter-wrapper {
    align-items: center;
    background-color: #eeca01;
    border-radius: 0 0 4px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 0;
  }

  .modal {
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .modal-wrapper {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
  }

  .modal-content {
    display: flex;
    flex-direction: column;

    * {
      padding: 15px;
      margin-bottom: 10px;
    }

    textarea {
      padding-bottom: 60px;
    }

    .date {
      text-align: center;
    }
  }

  #label-green {
    div {
      background-image: url('../assets/pushpingreen.png');
      cursor: pointer;
    }
  }

  #label-orange {
    div {
      background-image: url('../assets/pushpinorange.png');
      cursor: pointer;
    }
  }

  #label-red {
    div {
      background-image: url('../assets/pushpinred.png');
      cursor: pointer;
    }
  }

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    div {
      height: 32px;
      width: 32px;
    }

  }

}

#footer {
    position: absolute;
    border: thick double #FFD700;
    border-radius: 4px;
    padding: 20px;
    z-index: 20;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
}


#add-btn {
    margin: 5px 0;
}

.btn {
    align-items: center;
    background-color: #FFD700;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 15px;

    &:hover {
      background-color: #eeca01;
    }
}

.loader-spinner {
  background: url('../assets/loader.gif') center center no-repeat;
  height: 201px;
  width: 201px;
}

.map-marker {
    background: center center no-repeat;
    cursor: pointer;
    height: 32px;
    width: 32px;

    &.default {
        background-image: url('../assets/pushpindefault.png');
        cursor: default;
    }

    &.green {
        background-image: url('../assets/pushpingreen.png');
        cursor: default;
    }

    &.orange {
        background-image: url('../assets/pushpinorange.png');

        cursor: default;
    }
    &.red {
        background-image: url('../assets/pushpinred.png');
        cursor: default;
    }
}



